{% extends "base.html"%}

{% block header_row %} 
	<div class="col-md-12">
    	<h3>
    	{{ object.title }} 
    	<a href="{% url 'update' object.pk %}" class="btn btn-sm btn-outline-primary"><i class="fa fa-wrench"></i></a>
    	</h3>
    </div>
{% endblock header_row %}

{% block content_row %}
<div class="col-md-4">
	<ul class="list-unstyled">
	<li>Title: {{ object.title }}</li>
	<li>Category: {{ object.category }}</li>
	<li>Price: ${{ object.price }}</li>
	<li>Description: {{ object.description }}</li>
	<li>Owner: {{ object.owner }}</li>
	</ul>
</div>
{% endblock content_row %} 

